@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&family=Bangers&family=Permanent+Marker&display=swap');

/* 
font-family: 'Amiri', serif;
font-family: 'Bangers', cursive; 
font-family: 'Permanent Marker', cursive;
*/
* {
  padding: 0;
  margin: 5px;
}

body {
  font-size: 15pt;
  background: url("bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;



}


.btn {
  font-size: 40px;
  border: 2px solid #06D0FF;
  position: fixed;
  top: 400px;
  right: 30%;
  z-index: 99;
  font-family: 'Bangers', cursive;
  background: #006A9896;
  padding: 15px;
  border-radius: 2rem;
}

.msg_box,
.ms {
  width: 85%;
  overflow-y: scroll;
  margin: 20px auto;
  border: 0px solid #01A65F;
  background: #1C75A4D1;
  height: auto;
  padding: 0px;
  font-family: Amiri;
  text-align: center;
  color: snow;
  font-size: 23px;
  display: none;
  border-radius: 20px;
  transition: 2s;

}

.ms {
  display: block;
  width: 0%;
  max-height: 55px;
  padding: 0px;
  border-width: 0px;
  border-radius: 2rem;
  overflow-y: hidden;
}

@keyframes hh {
  from {
    height: 0;
    width: 85%;
    padding: 0;
    border-width: 0;
  }

  to {
    width: 85%;
    border-width: 4px;
    padding: 15px;
    transition: 2s;
    max-height: 200px;
  }
}

.hi {
  animation: hh 1s .1s both;
}
.fa{
  animation: fa 2s 1.2s both
}
@keyframes fa{
  from{
    width: 0;
    border-width: 0;
    padding: 0;
  }
  to{
  display: block;
  width: 70%;
  padding: 5px;
  border-width: 4px;
  border-radius: 2rem;
  }
}
